#nav {
  background: #fff;
}

#navbar {
  text-align: center;
  display: flex;
  justify-content: space-around;
  list-style: none;
}

#navbar li a {
  text-decoration: none;
  background-color: none;
  color: #454545;
  padding: 5px 10px;
  transition: 0.2s;
  font-size: 35px;
  font-family: roboto;
  border-radius: 4px;
}

#navbar li a:hover {
  background-color: #ffffff;
  color: #afafaf
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .page_content {
  padding-top: 60px;
}
.mybackground {
  width: 100%;
  height: 500px;
  background-attachment: fixed;
  background-image: url("../images/coffee_cart.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

h1 {
  font-size: 70px;
  letter-spacing: 13px;
  word-spacing: 20px;
  padding-left: 30px;
  text-align: center;
  font-weight: 700;
  color: #454545;
}
#page_content {
  text-align: center;
}

#contact_us {

}

hr {
  width: 95%;
  height: 1px;
  background-color: #000000;
  opacity: 0.3;
}
