body {
  font-family: 'Roboto Slab', serif !important;
}


#nav {
  background: #fff;
  z-index: 1000;
}

.navbar {
  text-align: center;
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding-inline-start: 0;
}

.navbar li a {
  text-decoration: none;
  background-color: none;
  color: #454545;
  padding: 5px 10px;
  transition: 0.2s;
  font-size: 35px;
  border-radius: 4px;
}

.navbar li a:hover {
  background-color: #ffffff;
  color: #afafaf
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .page-content {
  padding-top: 60px;
}
.cover-image {
  background-image: url("../images/coffee_cart.png");
}

.bean-image {
  background-image: url("../images/cherry.jpg");
}

.roasted-image {
  background-image: url("../images/roasted.jpg");
}

.fixed-image {
  background-image: url("../images/coffee_cart.png");
  width: 100%;
  height: 500px;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

h1 {
  font-size: 70px;
  letter-spacing: 13px;
  font-family: 'Roboto Slab', serif;
  word-spacing: 20px;
  padding-left: 30px;
  text-align: center;
  font-weight: 700;
  color: #454545;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-content {
  max-width: 1200px;
  text-align: left;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.page-content-menu {
  max-width: 1200px;
  text-align: left;
  display: grid;
  grid-template-columns: 1fr;
}

.page-content img {
  max-width: 600px;
  margin: 60px 0px;
}

.text {
  margin: 60px 14px 14px 14px;
  text-align: center;
}

@media (max-width: 750px) {
 .page-content {
   grid-template-columns: 1fr;
 }
}

hr {
  width: 95%;
  height: 1px;
  background-color: #000000;
  opacity: 0.3;
}

.carousel, .slide {
  width: 100%;
  max-width: 800px;
}

.column {
  float: left;
  width: 15%;
  margin-left: 125px;
  margin-top: 150px;
}

/* Clear floats after the columns */
.ContactUs:after {
  content: "";
  display: table;
  clear: both;
  background-color: #454545;
}

#button {
  color: grey;
  font-size: 50px;
  padding-left: 150px;
  padding-top:
}

#button: hover {
  background-color: white;
  color: grey;
}

.title {
  text-align: center;
}

#coffee {
  text-align: center;
}

.d-block {
  font-size: bold;
  color: #000000;
}

.carousel-caption h5 {
  color:
}

.carousel-caption p {
  color:
}
.menu2 {
  margin-top: 100px;
  margin-left: 50px;
}
